In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
traindf = pd.read_csv("../fooddeliver/train.csv")

In [3]:
traindf.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
0,0x4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30:00,11:45:00,conditions Sunny,High,2,Snack,motorcycle,0,No,Urban,(min) 24
1,0xb379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45:00,19:50:00,conditions Stormy,Jam,2,Snack,scooter,1,No,Metropolitian,(min) 33
2,0x5d6d,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,19-03-2022,08:30:00,08:45:00,conditions Sandstorms,Low,0,Drinks,motorcycle,1,No,Urban,(min) 26
3,0x7a6a,COIMBRES13DEL02,38,4.7,11.003669,76.976494,11.053669,77.026494,05-04-2022,18:00:00,18:10:00,conditions Sunny,Medium,0,Buffet,motorcycle,1,No,Metropolitian,(min) 21
4,0x70a2,CHENRES12DEL01,32,4.6,12.972793,80.249982,13.012793,80.289982,26-03-2022,13:30:00,13:45:00,conditions Cloudy,High,1,Snack,scooter,1,No,Metropolitian,(min) 30

In [4]:
traindf.isnull().sum()

ID                             0
Delivery_person_ID             0
Delivery_person_Age            0
Delivery_person_Ratings        0
Restaurant_latitude            0
Restaurant_longitude           0
Delivery_location_latitude     0
Delivery_location_longitude    0
Order_Date                     0
Time_Orderd                    0
Time_Order_picked              0
Weatherconditions              0
Road_traffic_density           0
Vehicle_condition              0
Type_of_order                  0
Type_of_vehicle                0
multiple_deliveries            0
Festival                       0
City                           0
Time_taken(min)                0
dtype: int64

In [5]:
testdf.head()

NameError: name 'testdf' is not defined

In [ ]:
testdf.isnull().sum()

In [ ]:
traindf=traindf.replace('NaN', float(np.nan), regex=True)

In [ ]:
sns.heatmap(traindf.corr(),annot=True, square=True)

DISTANCE MEASURE

In [6]:
import math

In [7]:
def distance(lat1, lon1, lat2, lon2):
    R = 6371  # radius of the Earth in kilometers
    dLat = math.radians(lat2 - lat1)
    dLon = math.radians(lon2 - lon1)
    lat1 = math.radians(lat1)
    lat2 = math.radians(lat2)

    a = math.sin(dLat / 2) * math.sin(dLat / 2) + \
        math.sin(dLon / 2) * math.sin(dLon / 2) * math.cos(lat1) * math.cos(lat2)
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))
    distance = R * c

    return distance

In [8]:
traindf["distance"] = traindf.apply(lambda row: distance(row["Restaurant_latitude"], row["Restaurant_longitude"], row["Delivery_location_latitude"], row["Delivery_location_longitude"]), axis=1)

In [9]:
new_weather = traindf['Weatherconditions'].str.split(' ', n=1, expand=True)

In [10]:
traindf['weather'] =new_weather[1]

DATA PREPARATION

In [11]:
dummies_data=pd.get_dummies(traindf,columns=['weather','City','Type_of_vehicle'])

In [12]:
dummies_data.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,...,weather_Sunny,weather_Windy,City_Metropolitian,City_NaN,City_Semi-Urban,City_Urban,Type_of_vehicle_bicycle,Type_of_vehicle_electric_scooter,Type_of_vehicle_motorcycle,Type_of_vehicle_scooter
0,0x4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30:00,...,1,0,0,0,0,1,0,0,1,0
1,0xb379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45:00,...,0,0,1,0,0,0,0,0,0,1
2,0x5d6d,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,19-03-2022,08:30:00,...,0,0,0,0,0,1,0,0,1,0
3,0x7a6a,COIMBRES13DEL02,38,4.7,11.003669,76.976494,11.053669,77.026494,05-04-2022,18:00:00,...,1,0,1,0,0,0,0,0,1,0
4,0x70a2,CHENRES12DEL01,32,4.6,12.972793,80.249982,13.012793,80.289982,26-03-2022,13:30:00,...,0,0,1,0,0,0,0,0,0,1

In [13]:
new_time = dummies_data['Time_taken(min)'].str.split(' ', n=1, expand=True)

In [14]:
dummies_data['time(min)'] =new_time[1]

In [15]:
cleaned_dummies=dummies_data.drop(['Restaurant_latitude','Restaurant_longitude','Delivery_location_latitude','Delivery_location_longitude','Order_Date','Time_Orderd','Time_Order_picked','Weatherconditions','Road_traffic_density','Type_of_order','multiple_deliveries','Festival','Delivery_person_ID','ID','Time_taken(min)'],axis=1)

In [16]:
cleaned_dummies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45593 entries, 0 to 45592
Data columns (total 20 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Delivery_person_Age                45593 non-null  object
 1   Delivery_person_Ratings            45593 non-null  object
 2   Vehicle_condition                  45593 non-null  int64
 3   distance                           45593 non-null  float64
 4   weather_Cloudy                     45593 non-null  uint8
 5   weather_Fog                        45593 non-null  uint8
 6   weather_NaN                        45593 non-null  uint8
 7   weather_Sandstorms                 45593 non-null  uint8
 8   weather_Stormy                     45593 non-null  uint8
 9   weather_Sunny                      45593 non-null  uint8
 10  weather_Windy                      45593 non-null  uint8
 11  City_Metropolitian                 45593 non-null  uint8
 12  City_NaN                           45593 non-null  uint8
 13  City_Semi-Urban                    45593 non-null  uint8
 14  City_Urban                         45593 non-null  uint8
 15  Type_of_vehicle_bicycle            45593 non-null  uint8
 16  Type_of_vehicle_electric_scooter   45593 non-null  uint8
 17  Type_of_vehicle_motorcycle         45593 non-null  uint8
 18  Type_of_vehicle_scooter            45593 non-null  uint8
 19  time(min)                          45593 non-null  object
dtypes: float64(1), int64(1), object(3), uint8(15)
memory usage: 2.4+ MB

In [17]:
cleaned_dummies=cleaned_dummies.replace('NaN', float(np.nan), regex=True)

In [18]:
cleaned_dummies = cleaned_dummies.fillna(0)

In [19]:
cleaned_dummies.head(15)

,Delivery_person_Age,Delivery_person_Ratings,Vehicle_condition,distance,weather_Cloudy,weather_Fog,weather_NaN,weather_Sandstorms,weather_Stormy,weather_Sunny,weather_Windy,City_Metropolitian,City_NaN,City_Semi-Urban,City_Urban,Type_of_vehicle_bicycle,Type_of_vehicle_electric_scooter,Type_of_vehicle_motorcycle,Type_of_vehicle_scooter,time(min)
0,37,4.9,2,3.025149,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,24
1,34,4.5,2,20.183530,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,33
2,23,4.4,0,1.552758,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,26
3,38,4.7,0,7.790401,0,0,0,0,0,1,0,1,0,0,0,0,0,1,0,21
4,32,4.6,1,6.210138,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,30
5,22,4.8,0,4.610365,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,26
6,33,4.7,1,16.600361,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,40
7,35,4.6,2,20.205253,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,32
8,22,4.8,0,19.975520,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,34
9,36,4.2,2,10.280582,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,46
10,21,4.7,1,6.242319,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,23
11,23,4.7,1,13.787860,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,21
12,34,4.3,0,2.930258,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,20
13,24,4.7,1,19.396618,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,41
14,29,4.5,2,13.763977,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,20

In [20]:
X=cleaned_dummies.drop('time(min)',axis=1)
y=cleaned_dummies['time(min)']

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
X_train, X_test, y_train, y_test= train_test_split(X,y, test_size=0.3, random_state=101)

MODEL SELECTION

In [23]:
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [24]:
models=[]
svc_model = SVR()
models.append(svc_model)
rfr_model = RandomForestRegressor()
models.append(rfr_model)
reg_model = LinearRegression()
models.append(reg_model)
dtreg= DecisionTreeRegressor()
models.append(dtreg)
gbreg = GradientBoostingRegressor()
models.append(gbreg)

In [25]:
for model in models:
    model.fit(X_train, y_train)
    y_prediction= model.predict(X_test)
    mse = mean_squared_error(y_test, y_prediction)
    mae = mean_absolute_error(y_test, y_prediction)
    r2 = r2_score(y_test, y_prediction)
    # Performans metriklerini ekrana yazdırma
    print("model: ", model)
    print("MSE:", mse)
    print("MAE:", mae)
    print("R2:", r2)
    print('\n')

model:  SVR()
MSE: 85.37291042589744
MAE: 7.412698080415777
R2: 0.03621967401541215


model:  RandomForestRegressor()
MSE: 34.949748093939604
MAE: 4.571820420696426
R2: 0.6054500257397983


model:  LinearRegression()
MSE: 62.44275162325208
MAE: 6.331001674998079
R2: 0.29507972476739064


model:  DecisionTreeRegressor()
MSE: 62.432172101184385
MAE: 5.925025588536336
R2: 0.29519915767855986


model:  GradientBoostingRegressor()
MSE: 35.266884940940955
MAE: 4.703416229635998
R2: 0.6018698472937328

RANDOM FOREST REGRESSOR

In [26]:
# Define the parameter grid for Grid Search
#param_grid = {
#    'n_estimators': [10, 50, 100, 200, 500],
 #   'max_features': ['sqrt', 'log2'],
  #  'max_depth': [10, 20, 30, 40, None],
   # 'min_samples_split': [2, 5, 10],
    #'min_samples_leaf': [1, 2, 4]
#}
param_grid = { 
            "n_estimators"      : [10,20,30],
            "max_features"      : ["auto", "sqrt", "log2"],
            "min_samples_split" : [2,4,8],
            "bootstrap": [True, False],
            }

In [27]:
estimator = RandomForestRegressor()

In [28]:
# Create the Grid Search object
from sklearn.model_selection import GridSearchCV
grid_search = GridSearchCV(estimator, param_grid=param_grid, cv=5, n_jobs=-1)

In [29]:
grid_search.fit(X_train, y_train)

GridSearchCV(cv=5, estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'bootstrap': [True, False],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'min_samples_split': [2, 4, 8],
                         'n_estimators': [10, 20, 30]})

In [30]:
best_params=grid_search.best_params_
best_score=grid_search.best_score_
print(best_params)
print(best_score)

{'bootstrap': True, 'max_features': 'log2', 'min_samples_split': 8, 'n_estimators': 30}
0.6216667464529888

In [38]:
rfr = RandomForestRegressor(**best_params)

In [39]:
rfr.fit(X_train,y_train)

RandomForestRegressor(max_features='log2', min_samples_split=8, n_estimators=30)

In [40]:
y_pred= rfr.predict(X_test)

In [41]:
mse=mean_squared_error(y_test,y_pred)
mae=mean_absolute_error(y_test,y_pred)
r2=r2_score(y_test,y_pred)

In [42]:
print("MSE: ", mse)
print('MAE: ',mae)
print("R2: ", r2)

MSE:  33.553158290036805
MAE:  4.516508211877444
R2:  0.6212162186663064

GRADIENT BOOSTING REGRESSOR

In [43]:
# Define the parameter grid for Grid Search
param_grid = {
    'n_estimators': [100, 200, 500],
    'max_depth': [2, 3, 4],
    'learning_rate': [0.01, 0.05, 0.1]
}

In [44]:
estimator=GradientBoostingRegressor()

In [45]:
grid_search_gb = GridSearchCV(estimator, param_grid=param_grid, cv=5, n_jobs=-1)

In [46]:
grid_search_gb.fit(X_train, y_train)

GridSearchCV(cv=5, estimator=GradientBoostingRegressor(), n_jobs=-1,
             param_grid={'learning_rate': [0.01, 0.05, 0.1],
                         'max_depth': [2, 3, 4],
                         'n_estimators': [100, 200, 500]})

In [47]:
best_params=grid_search_gb.best_params_
best_score=grid_search_gb.best_score_
print(best_params)
print(best_score)

{'learning_rate': 0.1, 'max_depth': 4, 'n_estimators': 200}
0.6299784347433512

In [48]:
gb = GradientBoostingRegressor(**best_params)

In [49]:
gb.fit(X_train, y_train)

GradientBoostingRegressor(max_depth=4, n_estimators=200)

In [50]:
y_pred=gb.predict(X_test)

In [51]:
mse=mean_squared_error(y_test,y_pred)
mae=mean_absolute_error(y_test,y_pred)
r2=r2_score(y_test, y_pred)

In [52]:
print('MSE: ',mse)
print('MAE: ',mae)
print('R2: ',r2)

MSE:  32.43894593029572
MAE:  4.498776432857729
R2:  0.633794634301081