In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
traindf = pd.read_csv("../fooddelivery/train.csv")
testdf= pd.read_csv('../fooddelivery/test.csv')

In [3]:
traindf.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken(min)
0,0x4607,INDORES13DEL02,37,4.9,22.745049,75.892471,22.765049,75.912471,19-03-2022,11:30:00,11:45:00,conditions Sunny,High,2,Snack,motorcycle,0,No,Urban,(min) 24
1,0xb379,BANGRES18DEL02,34,4.5,12.913041,77.683237,13.043041,77.813237,25-03-2022,19:45:00,19:50:00,conditions Stormy,Jam,2,Snack,scooter,1,No,Metropolitian,(min) 33
2,0x5d6d,BANGRES19DEL01,23,4.4,12.914264,77.678400,12.924264,77.688400,19-03-2022,08:30:00,08:45:00,conditions Sandstorms,Low,0,Drinks,motorcycle,1,No,Urban,(min) 26
3,0x7a6a,COIMBRES13DEL02,38,4.7,11.003669,76.976494,11.053669,77.026494,05-04-2022,18:00:00,18:10:00,conditions Sunny,Medium,0,Buffet,motorcycle,1,No,Metropolitian,(min) 21
4,0x70a2,CHENRES12DEL01,32,4.6,12.972793,80.249982,13.012793,80.289982,26-03-2022,13:30:00,13:45:00,conditions Cloudy,High,1,Snack,scooter,1,No,Metropolitian,(min) 30

In [4]:
testdf.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weatherconditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City
0,0x2318,COIMBRES13DEL01,NaN,NaN,11.003669,76.976494,11.043669,77.016494,30-03-2022,NaN,15:05:00,conditions NaN,NaN,3,Drinks,electric_scooter,1,No,Metropolitian
1,0x3474,BANGRES15DEL01,28,4.6,12.975377,77.696664,13.085377,77.806664,29-03-2022,20:30:00,20:35:00,conditions Windy,Jam,0,Snack,motorcycle,1,No,Metropolitian
2,0x9420,JAPRES09DEL03,23,4.5,26.911378,75.789034,27.001378,75.879034,10-03-2022,19:35:00,19:45:00,conditions Stormy,Jam,0,Drinks,motorcycle,1,No,Metropolitian
3,0x72ee,JAPRES07DEL03,21,4.8,26.766536,75.837333,26.856536,75.927333,02-04-2022,17:15:00,17:20:00,conditions Fog,Medium,1,Meal,scooter,1,No,Metropolitian
4,0xa759,CHENRES19DEL01,31,4.6,12.986047,80.218114,13.096047,80.328114,27-03-2022,18:25:00,18:40:00,conditions Sunny,Medium,2,Drinks,scooter,1,No,Metropolitian

In [5]:
traindf.isnull().sum()

ID                             0
Delivery_person_ID             0
Delivery_person_Age            0
Delivery_person_Ratings        0
Restaurant_latitude            0
Restaurant_longitude           0
Delivery_location_latitude     0
Delivery_location_longitude    0
Order_Date                     0
Time_Orderd                    0
Time_Order_picked              0
Weatherconditions              0
Road_traffic_density           0
Vehicle_condition              0
Type_of_order                  0
Type_of_vehicle                0
multiple_deliveries            0
Festival                       0
City                           0
Time_taken(min)                0
dtype: int64

In [6]:
testdf.isnull().sum()

ID                             0
Delivery_person_ID             0
Delivery_person_Age            0
Delivery_person_Ratings        0
Restaurant_latitude            0
Restaurant_longitude           0
Delivery_location_latitude     0
Delivery_location_longitude    0
Order_Date                     0
Time_Orderd                    0
Time_Order_picked              0
Weatherconditions              0
Road_traffic_density           0
Vehicle_condition              0
Type_of_order                  0
Type_of_vehicle                0
multiple_deliveries            0
Festival                       0
City                           0
dtype: int64

In [7]:
test_id=testdf['ID']

DISTANCE CALCULATION

In [8]:
import math

In [9]:
def distance(lat1, lon1, lat2, lon2):
    R = 6371  # radius of the Earth in kilometers
    dLat = math.radians(lat2 - lat1)
    dLon = math.radians(lon2 - lon1)
    lat1 = math.radians(lat1)
    lat2 = math.radians(lat2)

    a = math.sin(dLat / 2) * math.sin(dLat / 2) + \
        math.sin(dLon / 2) * math.sin(dLon / 2) * math.cos(lat1) * math.cos(lat2)
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1 - a))
    distance = R * c

    return distance

In [10]:
traindf["distance"] = traindf.apply(lambda row: distance(row["Restaurant_latitude"], row["Restaurant_longitude"], row["Delivery_location_latitude"], row["Delivery_location_longitude"]), axis=1)
testdf["distance"] = testdf.apply(lambda row: distance(row["Restaurant_latitude"], row["Restaurant_longitude"], row["Delivery_location_latitude"], row["Delivery_location_longitude"]), axis=1)

DATA PREPARATION

In [11]:
traindf=traindf.replace('NaN', float(np.nan), regex=True)
testdf=testdf.replace('NaN', float(np.nan), regex=True)

In [12]:
train_weather = traindf['Weatherconditions'].str.split(' ', n=1, expand=True)
test_weather = testdf['Weatherconditions'].str.split(' ', n=1, expand=True)

In [13]:
traindf['weather'] =train_weather[1]
testdf['weather'] =test_weather[1]

In [14]:
dummies_data=pd.get_dummies(traindf,columns=['weather','City','Type_of_vehicle'])
dummies_data_test=pd.get_dummies(testdf,columns=['weather','City','Type_of_vehicle'])

In [15]:
new_time = dummies_data['Time_taken(min)'].str.split(' ', n=1, expand=True)

In [16]:
dummies_data['time(min)'] =new_time[1]

In [17]:
cleaned_dummies=dummies_data.drop(['Restaurant_latitude','Restaurant_longitude','Delivery_location_latitude','Delivery_location_longitude','Order_Date','Time_Orderd','Time_Order_picked','Weatherconditions','Road_traffic_density','Type_of_order','multiple_deliveries','Festival','Delivery_person_ID','ID','Time_taken(min)'],axis=1)
cleaned_dummies_test=dummies_data_test.drop(['Restaurant_latitude','Restaurant_longitude','Delivery_location_latitude','Delivery_location_longitude','Order_Date','Time_Orderd','Time_Order_picked','Weatherconditions','Road_traffic_density','Type_of_order','multiple_deliveries','Festival','Delivery_person_ID','ID'],axis=1)

In [18]:
cleaned_dummies = cleaned_dummies.fillna(0)
cleaned_dummies_test = cleaned_dummies_test.fillna(0)

In [19]:
cleaned_dummies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45593 entries, 0 to 45592
Data columns (total 18 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Delivery_person_Age                45593 non-null  object
 1   Delivery_person_Ratings            45593 non-null  object
 2   Vehicle_condition                  45593 non-null  int64
 3   distance                           45593 non-null  float64
 4   weather_Cloudy                     45593 non-null  uint8
 5   weather_Fog                        45593 non-null  uint8
 6   weather_Sandstorms                 45593 non-null  uint8
 7   weather_Stormy                     45593 non-null  uint8
 8   weather_Sunny                      45593 non-null  uint8
 9   weather_Windy                      45593 non-null  uint8
 10  City_Metropolitian                 45593 non-null  uint8
 11  City_Semi-Urban                    45593 non-null  uint8
 12  City_Urban                         45593 non-null  uint8
 13  Type_of_vehicle_bicycle            45593 non-null  uint8
 14  Type_of_vehicle_electric_scooter   45593 non-null  uint8
 15  Type_of_vehicle_motorcycle         45593 non-null  uint8
 16  Type_of_vehicle_scooter            45593 non-null  uint8
 17  time(min)                          45593 non-null  object
dtypes: float64(1), int64(1), object(3), uint8(13)
memory usage: 2.3+ MB

In [20]:
cleaned_dummies_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11399 entries, 0 to 11398
Data columns (total 17 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Delivery_person_Age                11399 non-null  object
 1   Delivery_person_Ratings            11399 non-null  object
 2   Vehicle_condition                  11399 non-null  int64
 3   distance                           11399 non-null  float64
 4   weather_Cloudy                     11399 non-null  uint8
 5   weather_Fog                        11399 non-null  uint8
 6   weather_Sandstorms                 11399 non-null  uint8
 7   weather_Stormy                     11399 non-null  uint8
 8   weather_Sunny                      11399 non-null  uint8
 9   weather_Windy                      11399 non-null  uint8
 10  City_Metropolitian                 11399 non-null  uint8
 11  City_Semi-Urban                    11399 non-null  uint8
 12  City_Urban                         11399 non-null  uint8
 13  Type_of_vehicle_bicycle            11399 non-null  uint8
 14  Type_of_vehicle_electric_scooter   11399 non-null  uint8
 15  Type_of_vehicle_motorcycle         11399 non-null  uint8
 16  Type_of_vehicle_scooter            11399 non-null  uint8
dtypes: float64(1), int64(1), object(2), uint8(13)
memory usage: 501.1+ KB

In [21]:
X=cleaned_dummies.drop('time(min)',axis=1)
y=cleaned_dummies['time(min)']

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
X_train, X_test, y_train, y_test= train_test_split(X,y, test_size=0.3, random_state=101)

MODEL SELECTION

In [24]:
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [25]:
models=[]
svr_model = SVR()
models.append(svr_model)
rfr_model = RandomForestRegressor()
models.append(rfr_model)
reg_model = LinearRegression()
models.append(reg_model)
dtreg= DecisionTreeRegressor()
models.append(dtreg)
gbreg = GradientBoostingRegressor()
models.append(gbreg)

In [36]:
def displaymodel(model):
    print("Model: ", model)
    print("MSE:", mse)
    print("MAE:", mae)
    print("R2:", r2)
    print('\n')

In [37]:
for model in models:
    model.fit(X_train, y_train)
    y_prediction= model.predict(X_test)
    mse = mean_squared_error(y_test, y_prediction)
    mae = mean_absolute_error(y_test, y_prediction)
    r2 = r2_score(y_test, y_prediction)
    # Display performance metrics
    displaymodel(model)

Model:  SVR()
MSE: 85.37273870109287
MAE: 7.412688972717198
R2: 0.03622161262787493


Model:  RandomForestRegressor()
MSE: 34.849708740989854
MAE: 4.57235506647217
R2: 0.6065793764871983


Model:  LinearRegression()
MSE: 62.44275162325207
MAE: 6.331001674998073
R2: 0.29507972476739064


Model:  DecisionTreeRegressor()
MSE: 62.06817111013631
MAE: 5.913754447531315
R2: 0.29930838848796903


Model:  GradientBoostingRegressor()
MSE: 35.3659378536409
MAE: 4.704398887531582
R2: 0.6007516325343268

RANDOM FOREST REGRESSOR

In [38]:
param_grid = { 
            "n_estimators"      : [10,20,30],
            "max_features"      : ["auto", "sqrt", "log2"],
            "min_samples_split" : [2,4,8],
            "bootstrap": [True, False],
            }

In [39]:
estimator = RandomForestRegressor()

In [40]:
# Create the Grid Search 
from sklearn.model_selection import GridSearchCV
grid_search = GridSearchCV(estimator, param_grid=param_grid, cv=5, n_jobs=-1)

In [41]:
grid_search.fit(X_train, y_train)

GridSearchCV(cv=5, estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'bootstrap': [True, False],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'min_samples_split': [2, 4, 8],
                         'n_estimators': [10, 20, 30]})

In [42]:
best_params=grid_search.best_params_
best_score=grid_search.best_score_
print(best_params)
print(best_score)

{'bootstrap': True, 'max_features': 'sqrt', 'min_samples_split': 8, 'n_estimators': 30}
0.621280611072906

In [43]:
rfr = RandomForestRegressor(**best_params)

In [44]:
rfr.fit(X_train,y_train)

RandomForestRegressor(max_features='sqrt', min_samples_split=8, n_estimators=30)

In [45]:
y_pred= rfr.predict(X_test)

In [46]:
mse=mean_squared_error(y_test,y_pred)
mae=mean_absolute_error(y_test,y_pred)
r2=r2_score(y_test,y_pred)

In [47]:
print("MSE: ", mse)
print('MAE: ',mae)
print("R2: ", r2)

MSE:  33.283854505280075
MAE:  4.506833631193358
R2:  0.6242564065686154

GRADIENT BOOSTING REGRESSOR

In [48]:
# Define the parameter grid for Grid Search
param_grid = {
    'n_estimators': [100, 200, 500],
    'max_depth': [2, 3, 4],
    'learning_rate': [0.01, 0.05, 0.1]
}

In [49]:
estimator=GradientBoostingRegressor()

In [50]:
grid_search_gb = GridSearchCV(estimator, param_grid=param_grid, cv=5, n_jobs=-1)

In [51]:
grid_search_gb.fit(X_train, y_train)

GridSearchCV(cv=5, estimator=GradientBoostingRegressor(), n_jobs=-1,
             param_grid={'learning_rate': [0.01, 0.05, 0.1],
                         'max_depth': [2, 3, 4],
                         'n_estimators': [100, 200, 500]})

In [52]:
best_params=grid_search_gb.best_params_
best_score=grid_search_gb.best_score_
print(best_params)
print(best_score)

{'learning_rate': 0.05, 'max_depth': 4, 'n_estimators': 500}
0.630715722740818

In [53]:
gb = GradientBoostingRegressor(**best_params)

In [54]:
gb.fit(X_train, y_train)

GradientBoostingRegressor(learning_rate=0.05, max_depth=4, n_estimators=500)

In [55]:
y_pred=gb.predict(X_test)

In [56]:
mse=mean_squared_error(y_test,y_pred)
mae=mean_absolute_error(y_test,y_pred)
r2=r2_score(y_test, y_pred)

In [57]:
print('MSE: ',mse)
print('MAE: ',mae)
print('R2: ',r2)

MSE:  32.30418917422539
MAE:  4.480346588131085
R2:  0.6353159120652592

In [58]:
predictions = np.round(gb.predict(cleaned_dummies_test))

In [59]:
result = pd.DataFrame({'ID':test_id ,'Time_taken': predictions})

In [60]:
result

            ID  Time_taken
0      0x2318         28.0
1      0x3474         26.0
2      0x9420         27.0
3      0x72ee         31.0
4      0xa759         22.0
...        ...         ...
11394  0x6909         22.0
11395  0x443b         26.0
11396  0x1ea5         26.0
11397  0x22d4         27.0
11398  0xb7be         26.0

[11399 rows x 2 columns]